<form asp-controller="Login" asp-action="Index" method="post" id="moviecreate">
    <div class="input">
        <label for="username">Email :</label>
        <input type="text" name="email" placeholder="Email">
    </div>
    <div class="input">
        <label for="password">Password :</label>
        <input type="text" name="password" placeholder="Sifre">
    </div>
    <input type="submit" value="Ok" class="frombtn" />
</form>