<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/hazirstyle.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="tumsayfaalani">
        <header>
            <div class="menu">
                <a href="" class="logoalania">
                    <div class="logoalani">
                        <div class="logo"><i class="fas fa-blog"></i></div>
                        <p>Admin</p>
                    </div>
                </a>
                <ul class="navmenu">
                    <li>
                        <a asp-controller="home" asp-action="Index">
                            <i class="fas fa-home"></i>
                            <p>Ana Sayfa</p>
                        </a>
                    </li>
                    <li class="listebaslikli">
                        <span class="listebaslik">
                            KATEGORİ İŞLEMLERİ
                        </span>
                    </li>
                        <li>
                            <a asp-controller="Category" asp-action="Index">
                            <i class="fas fa-images"></i>
                               <p>Kategori Liste</p>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Category" asp-action="CreateCategory">
                            <i class="fas fa-images"></i>
                                <p>Kategori Ekle</p>
                            </a>
                        </li>
                    <li class="listebaslikli">
                        <span class="listebaslik">
                            FİLİM İŞLEMLERİ
                        </span>
                    </li>
                    <li>
                        <a asp-controller="movie" asp-action="Index">
                            <i class="fas fa-video"></i>
                            <p>Filim Liste</p>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Movie" asp-action="MovieCreate">
                            <i class="fas fa-video"></i>
                            <p>Filim Ekle</p>
                        </a>
                    </li>
                    <li class="exitbtn">
                        <a asp-controller="Home" asp-action="SingOut">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <p>Çıkış</p>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <main>
            <div class="yuzdeyuzlukalan whitebackground menuheightellibespx tamsayfapaddingalani">
                <div class="flexbetween menuheightellibespx">
                    <div class="menubutonu">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="search">
                        <form action="" method="post">
                            <div class="aramaalani">
                                <label for="arama"><i class="fas fa-search"></i></label>
                                <input type="text" name="arama" id="arama" placeholder="Arama">
                            </div>
                        </form>
                    </div>
                    <div class="menuler">
                        <ul class="flexcenter">
                            <li class="headermenu headersearch">
                                <i class="fas fa-search"></i>
                            </li>
                            <li class="headermenu headermoon">
                                <i class="far fa-moon"></i>
                                <i class="far fa-sun" style="display: none;"></i>
                            </li>
                            <li class="headermenu headercompress">
                                <i class="fas fa-compress"></i>
                                <i class="fas fa-compress-arrows-alt" style="display: none;"></i>
                            </li>
                            <li class="headermenu">
                                <i class="far fa-envelope"></i>
                                <i class="far fa-envelope-open" style="display: none;"></i>
                            </li>
                            <li class="headermenu">
                                <i class="far fa-bell"></i>
                            </li>
                            <li class="headermenu">
                                <img src="https://picsum.photos/50/50" alt="">
                            </li>
                            <li class="headermenu">
                                <a href="ayarlar.html"><i class="fas fa-cog"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="menualtmenu">
                <li>
                    <a href="">
                        <i class="fa-regular fa-user"></i>
                        Profil
                    </a>
                </li>
                <li>
                    <i class="fas fa-compress"></i>
                    <i class="fas fa-compress-arrows-alt" style="display: none;"></i>
                    Tam Ekran
                </li>
                <li>
                    <i class="far fa-moon"></i>
                    <i class="far fa-sun" style="display: none;"></i>
                    Karanlık Mod
                </li>
            </ul>
            @RenderBody()
        </main>
        <footer></footer>
    </div>
    <script src="~/js/script.js"></script>
    <script src="~/js/slider.js" asp-append-version="true"></script>
</body>
</html>
